.web{
    background-color: bisque;
}
.Unum{
    background-color: cornflowerblue;
}
.ipsum{
    background-color: olivedrab;
}
.Cor{
    background-color: cornflowerblue;
}
.V{
    background-color: bisque;
}